@inherits LayoutComponentBase
<div>
    <div class="flex bg-primary">
        <NavMenu />
    </div>

    <main class = "h-full bg-[#D9D9D9]">
        <article class ="h-full bg-[#D9D9D9]">
            @Body
        </article>
    </main>
</div>
