@inherits ComponentBase

<p class="px-2 text-@(TextSize) font-bold border-0 text-[@TextColor] rounded-2xl bg-gradient-to-r from-green to-blue-500">
     R$ @PriceValue.ToString("N2")
</p>

@code {
    [Parameter]
    public decimal PriceValue { get; set; } = 0.0m;

    [Parameter]
    public string TextColor { get; set; } = "#FFF";

    [Parameter]
    public string TextSize { get; set; } = "2xl";
}