@inherits ComponentBase

<div class="flex flex-col w-full p-2 m-2 bg-[#CAC9C9] border-2 border-gray-300 rounded-b-lg shadow-md">
    <div class="flex flex-col font-semibold">
        <div class="flex flex-row justify-between w-full p-2 m-1">
            <p>Subtotal</p>
            <p class="mr-1">R$ 29,99</p>
        </div>
        <div class="flex flex-row justify-between w-full p-2 m-1">
            <p>Desconto</p>
            <p class="mr-1">R$ -5,00</p>
        </div>
    </div>

    <div class="flex flex-row w-full justify-between bg-[#010B02] rounded-b-lg shadow-md font-semibold">
        <p class="m-2 ml-4 font-bold text-left text-white">TOTAL</p>
        <p class="m-2 text-xl text-highlight">R$ 24,99</p>
    </div>
</div>