@page "/product"

<PageTitle>Produto</PageTitle>

<div class="bg-primary text-white h-[3rem] md:hidden ">
    HOME &gt; CATEGORIAS &gt; MEMÓRIAS RAM
</div>
<div class="flex flex-col w-full h-screen justify-center items-center z-1">
    <h1>Teste</h1>
</div>