@page "/product"

<PageTitle>Produto</PageTitle>

<div class="bg-primary text-white h-[3rem] md:hidden ">
    HOME &gt; CATEGORIAS &gt; MEMÓRIAS RAM
</div>
<div class="flex flex-col w-[100vw] h-screen justify-center items-center z-1 bg-[#f7f7f7f7] gap-[1rem]">
    <img class="w-1/4 border p-[2rem] border-gray-400 bg-white"  src="icon-192.png" alt=""/>
    <div class="w-1/4 p-[2rem] border  bg-gray text-black flex flex-col gap-[1rem]">
        <h1>Código Limpo</h1>
        <div class="flex flex-col">
            <h1>R$ 78,99</h1>
            <p>À vista com 15% de desconto no boleto ou pix</p>
        </div>
        <div>
            <p class="text-[1rem]">C</p>
            <p>ou até 3x no cartão</p>
        </div>
    </div>
</div>