@page "/carrinho"
@inject NavigationManager NavigationManager

@using LearnShop.Components

<PageTitle>Carrinho</PageTitle>

<PageHeader
    Title="Carrinho"
    TextSize="2xl"
/>

<div class="container flex flex-col items-center justify-center gap-3 px-3 py-4 mx-auto">
    @if (step == 1)
    {
    <div class="flex flex-row items-center justify-center w-full m-2">
        <CartProductSummary
            ProductName="O Programador Pragmático"
            ProductImage="https://picsum.photos/360/360?random=60"
            ProductPrice=29.99m
        />
    </div>

    <div class="flex items-center justify-center w-full m-1">
        <Subtotal 
            ButtonText="CONTINUAR PARA O PAGAMENTO"
            OnContinue="GoToPayment"
        />
    </div>
    }
    else if (step == 2)
    {
        <p>Página de Pagamento</p>
    }
    else if (step == 3)
    {
    <div class="flex flex-row items-center justify-center w-full m-2">
        <CartOrderPlaced
            ProductName="O Programador Pragmático"
            ProductImage="https://picsum.photos/360/360?random=60"
            ProductPrice=29.99m
            OrderNumber="12345"
            PaymentType="Cartão de Crédito"
        />
    </div>

    <div class="flex items-center justify-center w-full m-1">
        <Subtotal 
            ButtonText="IR À HOME"
            OnContinue="GoToHome"
        />
    </div>
    }
</div>

@code {
    private int step = 1;

    private void GoToPayment()
    {
        step = 2;
    }

    private void GoToOrderPlaced()
    {
        step = 3;
    }

    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
