@page "/perfil"
@inject NavigationManager Nav

<PageTitle>Meu perfil</PageTitle>

<PageHeader
    Title="MEU PERFIL"
    TextSize="2xl"
/>

<div class="space-y-10 min-w-50 mx-4 sm:mx-10 md:mx-[200px] lg:mx-[400px] xl:mx-[500px] mt-10">

        <div class="cursor-pointer p-5 h-25 hover: bg-gradient-to-br from-green-600 to-blue-700 border border-black rounded-md text-black font-medium flex items-center space-x-2">
            <span class="mr-2 text-sm material-icons">person</span>Meu cadastro
        </div>

        
        <div class="cursor-pointer p-5 h-25 hover:bg-[#76BE11] border border-black rounded-md text-black font-medium flex items-center space-x-2">
            <span class="mr-2 text-sm material-icons">shopping_cart</span>Meus pedidos
        </div>

        <div class="cursor-pointer mb-5 p-5 h-25 hover:bg-[#76BE11] border border-black rounded-md text-black font-medium flex items-center space-x-2">
           <span class="mr-2 text-sm material-icons">person_remove</span>Sair
        </div>
    </div>




